body {
    margin: 0;
    overflow: hidden;
	        height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
}

.book {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    position: relative;
}

.pages {
    display: flex;
    transition: transform 1s ease;
}

.page {
    flex: 0 0 50vw;
    height: 100vh;
    background-color: #f7f7f7;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2em;
    position: relative;
    z-index: 1;
}

.page img {
    max-width: 100%;
    max-height: 100%;
}

/* Stacking pages on top of each other */
#page1,
#page3,
#page5
#page7{
    z-index: 2;
}

#page2,
#page4,
#page6 {
    z-index: 1;
}

.double-size {
    flex: 0 0 100vw;
    z-index: 2;
}

button {
    position: absolute;
    top: 50%;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
    z-index: 3; /* Set z-index higher than pages to ensure it's on top */
}

#turnForward {
    right: 10px;
}

#turnBackward {
    left: 10px;
}

.p1img1 {
  	width: 40px;  /* Adjust as needed */
    height: 40px; /* Adjust as needed */
}
.p1img1ph{
    transform: rotate(90deg); position: fixed; top: 42vw; align-content: center;
}

.p2img1 {
    width: 80%; height: 100%; position: absolute; top: 0px; right: 60px;
}

.p3img1 {
	width: 50%; position: absolute; top: 90px; right: 90px;
}


.p3img2 {
    width: 75%; position: absolute; top: 220px; right: 120px;	
}



.p4img2 {
    width: 20%; position: absolute; top: 140px; right: 40%;
}

.p4img3 {
    width: 35%; position: absolute; top: 270px; right: 33%;
}

.woman{
	
	width: 50%;
}
.cont{
		width: 50%; left: 0vw; position: absolute; top: 34vw;  bottom: 0;
}




.first{
	width: 40%; position: absolute;}

.lst1{
	width: 15%; left: 43vw;  align-self: center; position: absolute; top: 15vw;}
.lst2{
	width: 45%; top: 6vw; align-self: center; position: absolute;}

.lst3{
	width: 30%; right: 65vw; position: absolute; top: 28.4vw;}


.logo3, .p1img1 {
    transition: opacity 3s ease-in-out;
}

.p2img1 {
opacity: 0.8;
transition: opacity 3s ease-in-out;
}


.p3img1,.p3img2 ,.p4img1, .p4img2 ,.p1img1 ,.p1img1Ph {
    transition: opacity 3s ease-in-out;

}
.p4img3 {
    transition: opacity 5s ease-in-out;
}
.p4c {
    transition: opacity 3s ease-in-out;
}
.hidden {
    opacity: 0;
}

.pointeroff {
    pointer-events: none;
}

@keyframes slideDown {
  0% {
    transform: translateY(-30vw);
  }
  100% {
    transform: translateY(0);
  }
}

.logo3 , .logo2 {
  animation: slideDown 2s ease-out;
}

/* CSS for opacity transition and move up animation */
.fadeOutMoveUp {
  animation: fadeOut 3s ease-in-out, moveUp 3s ease-in-out;
  opacity: 0;
}

@keyframes fadeOut {
  0% { opacity: 1; }
  100% { opacity: 0; }
}

.slide-up {
  animation: slideUp 1s ease;
}

@keyframes slideUp {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(0);
  }
}
.custom-container {
    width: 100%;
    height: 50vh;
    overflow: visible; /* Restrict overflow to hidden */
    position: relative;
    transition: background-color 0.3s ease-in-out;

}

.custom-container::before {
    content: "";
    background: url( "../images/Artboard 2.jpg");
    filter: grayscale(100%);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.custom-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 50%; /* Center the image horizontally */
    transform: translateX(-50%); /* Adjust the position to center the image */
    filter: grayscale(100%);
    transition: transform 0.3s ease-in-out;
}

        .container-blue { background-image: url( "../images/Layer 14.png"); }
        .container-green { background-image: url( "../images/Layer 14.png"); }
        .container-red { background-image: url( "../images/Layer 14.png"); }
		.container-v { background-image: url( "../images/Layer 14.png"); }
		.container-b { background-image: url( "../images/Layer 14.png"); }

        .custom-container:hover {
            background-color: rgba(0, 0, 0, 0.1);
        }

        .container-blue:hover {
            background-image: url( "../images/Layer 13.png");
        }

        .container-green:hover {
            background-image: url( "../images/Layer 10.png");
        }

        .container-red:hover {
            background-image: url( "../images/Layer 12.png");
        }
		
		 .container-v:hover {
            background-image: url(  "../images/Layer 11.png");
        }
 .container-b:hover {
            background-image: url( "../images/Artboard 2.jpg");
        }

.custom-container:hover img {
    transform: translate(-50%, -20%);
}


        @media (max-width: 768px) {
            .custom-container {
                height: 30vh;
            }
        }